
<!-- <meta name="viewport" content="width=50px%, initial-scale=2"> -->
<form>
<div>
    <h1>LOGIN</h1>
    <div>User Name:<input  [(ngModel)]="userName"></div>
    
    <div>password:<input  [(ngModel)]="password" type="password">
        <i class="bx bx-lock-alt icon"></i>
    </div>
    <div class="input_box">
        <input type="submit" class="input-submit" value="Login">
    </div>
    <div class="forget">
        <a href="#">Forget password?</a>
    </div>
    <div class="remember-forget">
    </div>
    <div class="register">
        <span>Don't have an account? <a href="#">Create an Account</a></span>
    </div>
    <div class="remember-me">
            <input type="checkbox" id="remember">
            <label for="remember">Remember me for 30 days.</label>
    </div> 
</div>
</form>

