<div class="item-list-container">
    <h2>Items List</h2>
    <div class="items">
        <div class="item" *ngFor="let item of itemList">
            {{item.name}}
        </div>
    </div>
</div>
<div class="pagination-container">
    <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item" [class.active]="i == seletedPage" aria-current="page" *ngFor="let i of pageNumbers" (click)="onSelectPage(i)">
            <a class="page-link">{{i}}</a>
          </li>
          <li class="page-item">
            <a class="page-link">Next</a>
          </li>
        </ul>
      </nav>
</div>

